/* variables */
:root {
    --font-first-family: "Open Sans", sans-serif;
    --font-second-family: "Bebas Neue", sans-serif;
    --white-color: #ffffff;
    --dark-blue-color: #48555B;
    --light-blue-color-1: #00A4E5;
    --light-blue-color-2: #16ACE8;
    --gray-color-1: #D8D8D8;
    --gray-color-2: #E6E6E6;
    --gray-color-3: #979797;
    --black-color-1: #171819;
    --black-color-2: #141A20;
}

/* template tags */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

/* fonts */
.text-h1 {
    font-family: var(--font-second-family);
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5.71px;
}

.text-h2 {
    font-family: var(--font-first-family);
    color: var(--dark-blue-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.13em;
}

.text-h3 {
    font-family: var(--font-first-family);
    color: var(--dark-blue-color);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 150%;
}

.text-h4 {
    font-family: var(--font-first-family);
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.08em;
}

.text-p {
    font-family: var(--font-first-family);
    color: var(--white-color);
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.01em;
}

/* general */
.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.button {
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: var(--light-blue-color-1);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.04em;
}

.button:hover {
    color: #baebff;
}

/* header */
.header {
    min-height: 769px;
    text-align: center;
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center top;
}

.header__logo {
    padding-top: 39px;
    margin: 0 auto 310px;
}

.header__title {
    padding-left: 10px;
}

.header__description {
    margin-bottom: 224px;
    font-size: 16px;
}

.header__signature {
    text-transform: uppercase;
    letter-spacing: 0.34em;
}

/* menu */
.menu {
    min-height: 65px;
    border: 1px solid var(--gray-color-2);
}

.menu__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
}

.menu__logo {
    align-self: center;
}

.menu__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 39px;
    list-style: none;
    padding: 0;
}

.menu__item {
    text-decoration: none;
    color: var(--dark-blue-color);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.09em;
}

.menu__item:hover {
    color: var(--light-blue-color-1);
    cursor: pointer;
}

/* our-story */
.our-story {
    min-height: 344px;
    padding-top: 58px;
    padding-bottom: 119px;
}

.our-story__title {
    text-align: center;
    margin-bottom: 55px;
}

.our-story__title::after {
    content: '';
    width: 50px;
    height: 2px;
    display: block;
    background-color: var(--light-blue-color-1);
    margin: 12px auto 0;
}

.our-story__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.our-story__left {
    max-width: 403px;
}

.our-story__description {
    margin-bottom: 30px;
    color: var(--dark-blue-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 134%;
}

.our-story__span {
    color: var(--light-blue-color-2);
}

.our-story__text {
    color: var(--dark-blue-color);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 177%;
}

.our-story__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.our-story__cards {
    width: 140px;
    height: 224px;
}

.our-story__cards:nth-child(1) {
    background-image: url(../img/card-bg-1.jpg);
}

.our-story__cards:nth-child(2) {
    background-image: url(../img/card-bg-2.jpg);
}

.our-story__cards:nth-child(3) {
    background-image: url(../img/card-bg-3.jpg);
}

.our-story__what-we-do {
    max-width: 70px;
    padding: 15px 12px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    line-height: 121%;
}

.our-story__what-we-do:hover {
    color: #baebff;
}

/* our capabilities */
.our-capabilities {
    min-height: 446px;
    padding-bottom: 115px;
}

.our-capabilities__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.our-capabilities__title::after {
    content: '';
    width: 50px;
    height: 2px;
    display: block;
    background-color: var(--light-blue-color-1);
    margin-top: 12px;
}

.our-capabilities__description-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.our-capabilities__text {
    max-width: 405px;
    color: var(--dark-blue-color);
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 173%;
}

.our-capabilities__bottom {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.our-capabilities__cards {
    width: 100%;
    max-width: 295px;
    height: 100%;
    min-height: 330px;
    border: 1px solid var(--gray-color-2);
    padding: 37px 10px 20px 22px;
}

.our-capabilities__card-img {
    margin-bottom: 25px;
}

.our-capabilities__card-title {
    margin-bottom: 14px;
}

.our-capabilities__card-text {
    max-width: 250px;
    color: var(--dark-blue-color);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 177%;
}

/* get in touch */
.get-in-touch {
    min-height: 498px;
    text-align: center;
    background-image: url(../img/get-in-touch-bg.png);
    background-size: cover;
    background-position: center bottom;
    background-color: var(--black-color-1);
}

.get-in-touch__text {
    max-width: 350px;
    margin: 0 auto;
    padding-top: 125px;
    margin-bottom: 30px;
    color: var(--dark-blue-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

/* newsletter */
.newsletter {
    min-height: 100px;
    background-color: var(--black-color-1);
}

.newsletter__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px;
    padding: 30px 0;
}

.newsletter__text {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.04em;
}

.newsletter__form {
    display: flex;
    flex-wrap: wrap;
}

.newsletter__input {
    width: 250px;
    height: 40px;
    border: 1px solid var(--gray-color-3);
    padding: 10px 100px 10px 15px;
    color: var(--dark-blue-color);
    font-size: 14px;
    font-weight: 400;
}

/* footer */
.footer {
    min-height: 240px;
    background-color: var(--black-color-2);
}

.footer__content {
    display: flex;
    padding-top: 42px;
    padding-bottom: 30px;
}

.footer__left-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 255px;
    margin-right: 65px;
}

.footer__company-title {
    margin-bottom: 20px;
}

.footer__logo {
    align-self: flex-start;
    margin-bottom: 15px;
}

.footer__description {
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 173%;
}

.footer__center {
    margin-right: 40px;
}

.footer__links-wrap {
    display: flex;
    flex-wrap: wrap;
}

.footer__nav-1 {
    margin-right: 30px;
}

.footer__nav-2 {
    margin-right: 10px;
}

.footer__links {
    list-style: none;
    width: 80px;
    padding-left: 0;
    margin-top: 14px;
}

.footer__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    line-height: 227%;
}

.footer__link:hover {
    color: #baebff;
}

.footer__right-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 65px;
}

.footer__contacts-title {
    margin-bottom: 17px;
}

.footer__address {
    margin-bottom: 18px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 145%;
}

.footer__telph {
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 145%;
}

.footer__telph:hover {
    color: #baebff;
}

.footer__email {
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 145%;
}

.footer__email:hover {
    color: #baebff;
}

.footer__social {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-top: 30px;
}

.footer__copyright {
    min-height: 60px;
    background-color: var(--black-color-1);
}

.footer__copyright-text {
    padding-left: 10px;
    padding-top: 25px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.07em;
}

/* media */
@media screen and (max-width: 1280px) {
    /* footer */
    .footer__social {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 1024px) {
    /* general */
    .container {
        padding: 0 20px;
    }

    /* our story */
    .our-story__title {
        margin-bottom: 30px;
    }

    .our-story__wrap {
        flex-direction: column;
        align-items: center;
    }

    .our-story__text {
        margin-bottom: 50px;
    }

    /* our capabilities */
    .our-capabilities__top {
        flex-direction: column;
    }

    .our-capabilities__title {
        margin-bottom: 30px;
    }

    .our-capabilities__title::after {
        margin: 12px auto 0;
    }

    .our-capabilities__bottom {
        flex-wrap: wrap;
    }

    /* footer */
    .footer__content {
        flex-direction: column;
    }

    .footer__left {
        margin-bottom: 30px;
    }

    .footer__left-wrap {
        text-align: center;
        max-width: 100%;
        padding: 0 150px;
        margin: 0;
    }

    .footer__logo {
        align-self: center;
    }

    .footer__links-wrap {
        justify-content: space-evenly;
    }

    .footer__center {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer__right-wrap {
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 0;
    }

    .footer__social {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {

    /* header */
    .header__title {
        font-size: 40px;
    }
    
    .header__description {
        font-size: 14px;
    }

    /* menu */
    .menu__flex {
        flex-direction: column;
        padding: 10px 10px;
    }

    /* newsletter */
    .newsletter__wrap {
        gap: 20px;
    }

    /* footer */
    .footer__left-wrap {
        padding: 0 100px;
    }
}

@media screen and (max-width: 480px) {
    /* general */
    .button {
        width: 100px;
        height: 30px;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 0.01em;
    }

    /* header */
    .header__title {
        font-size: 30px;
    }
    
    .header__description {
        font-size: 12px;
    }

    /* our capabilities */
    .our-capabilities__card-title {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.02em;
    }
    
    .our-capabilities__card-text {
        font-size: 11px;
        letter-spacing: 0.01em;
    }

    /* get-in-touch */
    .get-in-touch__text {
        font-size: 25px;
    }

    /* newsletter */
    .newsletter__input {
        width: 150px;
        height: 30px;
        padding: 5px 5px;
        font-size: 11px;
    }

    /* footer */
    .footer__left-wrap {
        padding: 0 30px;
    }

    .footer__links-wrap {
        padding: 0 100px;
    }

    .footer__nav-1, .footer__nav-2 {
        margin-right: 0;
    }

    .footer__right-wrap {
        justify-content: center;
        gap: 20px;
        padding: 0 50px;
    }

    .footer__address, .footer__telph {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    /* newsletter */
    .newsletter__input {
        width: 100px;
        height: 25px;
    }

    .newsletter .button {
        width: 75px;
        height: 25px;
    }
}